@media (max-width: 768px) {
  .homeBodyContainer {
    overflow-y: auto;
    height: fit-content;
    height: 95vh;
  }
  .homeBodySmallSubContainer {
    margin: 0 24px;
  }
  .homeContainerHeading {
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 600;
    line-height: 32px;
    color: #1e293b;
  }
  .homeContainerParagraph {
    font-family: 'Inter';
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    color: #475569;
  }
  .topRatedHeaderButton {
    display: none;
  }
  .homeContainerFindButton {
    height: 36px;
    width: 104px;
    border-radius: 4px;
    border-style: none;
    background-color: #0284c7;
    font-family: 'Inter';
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    color: #f8fafc;
  }
  .topRatedHeaderHeading {
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    padding-left: 44px;
    padding-top: 16px;
  }
  .homeTopRatedBooksContainer {
    background-color: #ffffff;
  }
}

@media (min-width: 768px) {
  .homeBodyContainer {
    margin: 0 100px;
    overflow-y: auto;
    height: fit-content;
    height: 95vh;
  }
  .homeContainerHeading {
    font-family: 'Inter';
    font-size: 30px;
    font-weight: 600;
    line-height: 44px;
    text-align: left;
    color: #1e293b;
  }

  .homeContainerParagraph {
    font-family: 'Inter';
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
    margin-right: 140px;
    color: #475569;
  }

  .homeTopRatedBooksContainer {
    border-radius: 16px;
    background-color: #ffffff;
  }

  .topRatedHeaderContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 70px;
  }

  .topRatedHeaderHeading {
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 600;
    line-height: 32px;
    text-align: center;
    color: #1e293b;
  }

  .topRatedHeaderButton {
    height: 36px;
    width: 104px;
    border-radius: 4px;
    padding: 10px, 20px, 10px, 20px;
    border-style: none;
    background-color: #0284c7;
    font-family: 'Inter';
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    color: #f8fafc;
  }
  .homeContainerFindButton {
    display: none;
  }
}

.loaderCenter {
  display: flex;
  justify-content: center;
}
