.headerLogoContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
}

.headerLogoHeading {
  font-family: 'Almendra SC';
  font-size: 24px;
  font-weight: 400;
  color: #0284c7;
  margin: 0;
  align-self: flex-end;
  margin-bottom: 4px;
}

.headerLogoImage {
  height: 41.00050354003906px;
  width: 46.127952575683594px;
}

@media (max-width: 768px) {
  .smallUnorderedList {
    padding: 0;
    margin: 0;
  }
  .headerContainer {
    display: flex;
    justify-content: space-between;
    padding: 15px 24px;
    background-color: #ffffff;
  }
  .headerMenuContainer {
    display: none;
  }
  .headerHamButton {
    background: transparent;
    border-style: none;
    color: #475569;
    font-size: 25px;
    padding-top: 7px;
  }
  .headerLogoHeading {
    line-height: 20px;
  }
}

@media (min-width: 768px) {
  .smallUnorderedList {
    display: none;
  }
  .headerContainer {
    display: flex;
    justify-content: space-between;
    padding: 3px 150px;
    background-color: #ffffff;
  }
  .headerLogoHeading {
    line-height: 40px;
  }

  .headerMenuContainer {
    display: flex;
    align-items: center;
  }

  .headerLogoutButton {
    background-color: #0284c7;
    height: 32px;
    width: 73px;
    border-radius: 4px;
    padding: 8px, 16px, 8px, 16px;
    border-style: none;
    color: #f8fafc;
    font-family: 'Inter';
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
  }

  .headerMenuLinks {
    text-decoration: none;
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    color: #0284c7;
    margin-right: 30px;
  }

  .headerMenuNormalLink {
    text-decoration: none;
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-right: 30px;
    color: #64748b;
  }
  .headerHamButton {
    display: none;
  }
}
